html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family:  "Ancizar Sans", sans-serif;
    height: 100%;
}

main{
    flex: 1;
}

.carrito-productos{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.box-carrito{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.50);
    width: clamp(312px, 90%, 1500px);
    height: calc(81dvh - 78px);   
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 20px;
    justify-content: center;
    margin-inline: .5rem;
}

.carrito-title{
    background-color: #000;
    background-image: var(--color-3);
    width: 100%;
    color: #fff;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
} 

.carrito-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
}

.mostrar-linea-noProductos{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linea-noProductos{
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.50);
    width: 95%;
    height: 78px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 10px;
    background-color: #fff;

}

.linea-noProductos p{
    font-size: 1rem;
}


.mostrar-lineas-productos{
    flex: 0 0 80%; 
    overflow-y: auto; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
}


.linea-producto{
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.50);
    width: 95%;
    height: 78px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 10px;
    gap: 5px;
    background-color: #fff;
}

.campo{
    display: block;
    font-weight: bold;
}

.container-imagen-carrito{
    width: 50px;
    height: 70px;
}

.container-imagen-carrito img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.linea-producto-imagen{
    width: fit-content;
}

.linea-producto-nombre{
    width: 16.6%;
    min-width: 200px;
    text-wrap: pretty;

}

.linea-producto-nombre p{
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limita el texto a 4 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Muestra "..." cuando el texto sobrepasa el límite */
}

.linea-producto-precio,.linea-producto-subtotal{
    width: 16.6%;
    min-width: 90px;
    text-wrap: nowrap;
}

.linea-producto-cantidad{
    width: 16.6%;
    min-width: 64px;
}

.linea-producto-accion{
    width: fit-content;
}

.carrito-detalles{
    flex: 0 0 20%;
    background-color: #000;
    background-image: var(--color-3);
    display: flex;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

.box-detalles{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline: 20px;
}

.carrito-detalles-item{
    display: flex;
    height: 50px;
    border-radius: 20px;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
}

.item-total{
    color: #000;
    padding: 5px;
    text-wrap: wrap;
}

.item-total p{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: clamp(.85rem, 3vw, 1.3rem);
}

.item-btn-compra{
    height: 100%;
    display: flex;
    justify-content: center;    
}

.btn-carrito{
    height: 100%;
    border: none;
    background: black;
    color: white;
    padding: 10px 5px;
    border-radius: 20px;
    border: 1px solid white;
    font-size: clamp(.85rem, 3vw, 1.3rem);
    transition: all .6s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    justify-content: center;
    gap: 4px;
}

.btn-carrito:hover{
    color: #000;
    background-color: #fff;
}

.comprar-carrito{
    border-radius: 5px 20px 20px 5px;
}

.btn-menos,.btn-agregar{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-menos:hover,.btn-agregar:hover{
    background-color: #000;

}

.btn-eliminar{
    cursor: pointer;
}

.btn-eliminar:hover{
    background-color: #fff;

}


/*------------- Form Direccion envio --------------- */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;    
    color: #fff;
}

.form-direccion{
    background: #000;
    background-image: var(--color-3);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    width: clamp(200px, 95%, 394px);
    margin: 13px 0;
}

#form-confirmar-compra h2{
    text-align: center;
}

/* Estilos para el icono de información */
.label-info{
    position: relative;
    font-size: 18px;
}

.info-icon {
    font-size: 10px;
    color: #fff; 
    background-color: #000; 
    outline: 1px solid #fff;
    border-radius: 50%; 
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 11px; 
    height: 11px; 
    transition: all .3s;
}

.info-box {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 218px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    top: 80%; /* Asegura que aparezca justo debajo del ícono */
    left: -3px;
    margin-top: 5px;
    color: #000;
}

/* Para mostrar la caja de información cuando se hace clic */
.info-box.show {
    display: block;
}

.info-icon.active {
    background-color: #fff; 
    color: #000; 
    outline: 1px solid #fff;
}

.info-icon:hover {
    background-color: #fff; 
    color: #000; 
    outline: 1px solid #fff;
}

.box-metodoEnvio{
    display: flex;
    flex-direction: column;
}

.box-direccion{
    text-align: center;
    padding-top: 10px;
}

.box-locales{
    padding-top: 10px;
    text-align: center;
}

.input-box{
    display: flex;
    flex-direction: column;
}

.input-box label{
    align-self: flex-start;
}

.inputs-form-direccion,.select-envio{
    width: 100%;
    height: 27px;
    font-size: 17px;
    padding: 0 25px;
    margin: 5px 0;
    border-radius: 30px;
    border: none;
}

.select-envio{
    background-color: #fff;
    color: #000;
    height: fit-content;
    display: flex;
    align-items: center;
}

.select-envio,
::picker(select){
    appearance: base-select;
    margin-top: 5px;
    border-radius: 5px;
}

.select-envio option{
    padding: 5px;
    outline: 1px solid #eee;
    border-radius: 10px;
}

.textarea-instrucciones{
    border-radius: 5px;
    border: none;
    resize: vertical;
    min-height: 54px;
    max-height: 147px;
}

.tiendas-list{
    background-color: #000;
    outline: 1px groove #fff;
    border-radius: 10px;
    margin: 10px 0;
}

.tiendas-list li{
    padding: 10px;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
}

.box-btn{
    display: flex;
    justify-content: center;
}

#boton-confirmar-compra{
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.3rem;
    padding: 13px;
    margin: 5px 0;
    width: 174px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton-confirmar-compra:disabled{
    pointer-events: none; /* Esto evita clicks */
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

#metodo_envio.error,
.inputs-form-direccion.error,
.inputs-form-local.error{
    background-color: #fdd;
}

.campoFeedback{
    color: red;
    align-self: flex-end;
}

#error-p-locales,#error-p-direccion{
    background-color: #ff4c4c;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}

/*------------- Fin Form Direccion envio --------------- */


/* ------------ Historial de pedidos ---------------------- */

.pedidos{
    overflow-y: auto;
}

.pedido-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    background-color: #fff;
}

.pedido-box:hover {
    background-color: #dddddd;
}

.pedido-header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.estado-pedido{
    color: #4caf50;
}

.pedido-lineas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    interpolate-size: allow-keywords;   /* Esto permite que se pueda hacer la transition de un height fijo a un auto/max-content/fit-content,etc.  */
    padding: 5px;
    gap: 5px;
}

.hidden {
    display: none !important; 
}

.hidden-linea{
    max-height: 0;
    opacity: 0;
}

.visible-box { 
    background-color: #dddddd;
}

.visible-linea { 
    max-height: fit-content; 
    opacity: 1;
}

.visible{
    display: block;
}

/* ------------ Fin historial de pedidos ---------------------- */





/* ------------ Pedido ---------------------- */

.box-pedido{
    background: #000;
    background-image: var(--color-3);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    max-width: 400px;
    width: 95%;
}

.icon:before{
    background: black;
    font-size: 150px;
    border-radius: 50%;
}

.encabezado-exito{
    font-size: 1.4rem;
    color: #4caf50;
}

.encabezado-fallo{
    font-size: 1.4rem;
    color: #ff4c4c;
}

.p-pago{
    padding: 2.5px;
}

.link-home{
    color: #fff;
    position: relative;
}

.link-home::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #48e;
    transform: scaleX(0);
    transform-origin:  bottom right;
    transition: transform 0.6s ease-out;
}

.link-home:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ------------- Fin pedido --------------------- */



@media (width <= 630px){
    .btn-eliminar::after{
        content: "Eliminar";    
    }

    .linea-producto{
        height: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }   

    .linea-producto-nombre {
        width: auto; 
        min-width: initial ;
        text-wrap: pretty;
    }

    .box-detalles{
        padding-inline: 5px;
        gap: 5px;
    }


}

@media (width <= 400px){
    .box-carrito{
        margin-inline: 6px;
    }

    .btn-carrito{
        flex-direction: column;
    }
}

@media (height <= 770px ){
    .box-carrito{
        margin-top: 20px ;
        margin-bottom: 20px;
        height: calc(90dvh - 78px);
    }
}