html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

main{
    flex: 1;
}

/* --------------------- Forms ------------------------- */

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.form-error {
    background-color: red;
    padding: 8px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    border-radius: 30px;
}

.form-errors {
    color: red;
    font-size: 13.33px;
}

.form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 470px;
    padding: 0 20px;
    background-color: #000000;
    background-image: var(--color-3);
    border-radius: 2rem;
    margin: 15px 0;
}

.form-box-signup{
    height: 570px;
}

.forms-box-title {
    text-align: center;
    margin-bottom: 5px;
}

.forms-box-title h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.input-form-box .form-box-input {
    width: 100%;
    height: 55px;
    font-size: 17px;
    padding: 0 25px;
    margin: 5px 0;
    border-radius: 30px;
    border: none;
    transition: 0.3s;
}

.input-form-box .input-signup {
    height: 50px;
}

.input-form-box .input-signup::placeholder {
    color: #929090;
}

.form-box-input::placeholder {
    font-weight: 500;
    color: #222;
}

.input-form-box label {
    color: #fff;
}

.form-extras {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.form-extras section {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
}

#login-check {
    margin-right: 10px;
}

.form-extras section a {
    color: #48e;
}

.form-extras section a:hover {
    text-decoration: underline;
}

.form-btn-login {
    width: 100%;
    height: 50px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.3rem;
}

.form-btn-login:hover {
    transform: scale(1.05, 1);
}

.form-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-btn-signup {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.3rem;
    padding: 13px;
    margin-bottom: 15px;
}

#btn-siguiente-step1:disabled,
#btn-siguiente-step2:disabled {
    pointer-events: none; /* Esto evita clicks */
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

.form-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    color: #fff;
}

.form-link a {
    color: #48e;
    font-weight: 600;
}

.form-link a:hover {
    text-decoration: underline;
}

.form-step {
  display: none; /* Oculta los pasos por defecto */
    gap: 5px;
}

.form-step h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}

.form-step.active {
    display: flex; /* Muestra el paso activo */
    flex-direction: column;
    transition: 3s;
}

.box-telefono {
    position: relative;
}

.input-form-box .input-telefono {
    padding-left: 90px;
    height: 50px;
}

.input-form-box .input-telefono::placeholder {
    color: #929090;
}

#codigo_area {
    position: absolute;
    left: 16px;
    top: 37px;
    color: #000;
    font-size: 19px;
}

.chkbox-signup {
    margin: 30px 0;
    color: white;
    text-align: center;
}
.chkbox-signup a {
    color: #48e;
}
.chkbox-signup a:hover {
    text-decoration: underline;
}

#btn-registro:disabled {
    cursor: not-allowed;
    pointer-events: none; /* Esto evita clicks */
    background-color: #ccc;
    color: #888;
}

.input-signup.error,
.input-telefono.error,
.modal-input.error,
#newPassword.error {
    background-color: #fdd;
}


/* --------------------- Fin Forms ------------------------- */

/* ---------------- Mis datos ----------------------------------- */

.container-cuenta {
    display: grid;
    place-items: center;
    height: 100%;
}

.mis-datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    background-image: var(--color-3);
    color: #fff;
    padding: 5px;
    gap: 25px;
    border-radius: 30px;
    margin: 10px 0;
    min-height: 530px;
    justify-content: center;
    width: clamp(310px, 95%, 850px);
}

.datos-tlt {
    font-size: 2rem;
}

.datos-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5rem;
    gap: 20px;
    column-gap: 9px;
}

.datos-campos{
    position: relative;
}

.datos-campos label {
    font-size: clamp(0.98rem, 3vw, 1.3rem);
    padding: 0 12px;
}

.datos-campos .datos-campos_input {
    width: 100%;
    height: 45px;
    font-size: 1rem;
    padding: 0 10px;
    padding-right: 33px;
    margin: 5px 0;
    border-radius: 30px;
    border: none;
    transition: 0.3s;
}

.icon-edit,
.datos-campos_input:hover {
    cursor: pointer;  
}

.icon-edit {
    position: absolute;
    right: 12px;
    top: 45px;
    bottom: 0;
    color: #000;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center; 
}

.modal.show {
    display: flex; 
    
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

#modal-title {
    text-align: center;
    padding-right: 18px;
}

.modal-input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

.btn-guardar {
    padding: 0.7rem 1.5rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.form-error-modal {
    background-color: red;
    padding: 8px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    border-radius: 30px;
    display: none;
}

#inputFeedback {
    color: red;
    text-align: center;
}


@media (width <= 960px) {
    .datos-campos label {
        padding: 0;
    }

    .icon-edit {
        right: 10px;
        top: 47px;
    }
}

@media (width <= 450px) {
    .form-box {
        width: 95%;
    }
}

@media (height <= 900px ){
    .mis-datos{
        margin: 30px 0 ;
    }
}

/* ---------------- Fin Mis datos ----------------------------------- */
